<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.product.mapper.PhysicalFreightTemplateRefMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.product.PhysicalFreightTemplateRef">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="template_id" property="templateId" jdbcType="INTEGER"/>
        <result column="physical_id" property="physicalId" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, template_id, physical_id, is_enabled, create_time, update_time
  </sql>

    <sql id="BaseAliasColumn">
    id, template_id AS templateId, physical_id AS physicalId, is_enabled AS isEnabled, 
    create_time AS createTime, update_time AS updateTime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from physical_freight_template_ref
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from physical_freight_template_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.product.PhysicalFreightTemplateRef" useGeneratedKeys="true" keyProperty="id">
        insert into physical_freight_template_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">
                template_id,
            </if>
            <if test="physicalId != null">
                physical_id,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">
                #{templateId,jdbcType=INTEGER},
            </if>
            <if test="physicalId != null">
                #{physicalId,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.product.PhysicalFreightTemplateRef">
        update physical_freight_template_ref
        <set>
            <if test="templateId != null">
                template_id = #{templateId,jdbcType=INTEGER},
            </if>
            <if test="physicalId != null">
                physical_id = #{physicalId,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.product.PhysicalFreightTemplateRef" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from physical_freight_template_ref
        <where>
            <if test="templateId != null">
                AND template_id = #{templateId,jdbcType=INTEGER}
            </if>
            <if test="physicalId != null">
                AND physical_id = #{physicalId,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

</mapper>