<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.product.mapper.ProductProductPhysicalRefMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.product.ProductProductPhysicalRef">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="product_physical_id" property="productPhysicalId" jdbcType="INTEGER"/>
        <result column="physical_name" property="physicalName" jdbcType="VARCHAR"/>
        <result column="physical_number" property="physicalNumber" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, product_id, product_physical_id, physical_name, physical_number, is_enabled,
        create_time, update_time
    </sql>

    <sql id="BaseAliasColumn">
        id, product_id AS productId, product_physical_id AS productPhysicalId, physical_name AS physicalName,
        physical_number AS physicalNumber, is_enabled AS isEnabled, create_time AS createTime,
        update_time AS updateTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from product_product_physical_ref
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product_product_physical_ref
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.product.ProductProductPhysicalRef" useGeneratedKeys="true" keyProperty="id">
        insert into product_product_physical_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="productPhysicalId != null">
                product_physical_id,
            </if>
            <if test="physicalName != null">
                physical_name,
            </if>
            <if test="physicalNumber != null">
                physical_number,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="productPhysicalId != null">
                #{productPhysicalId,jdbcType=INTEGER},
            </if>
            <if test="physicalName != null">
                #{physicalName,jdbcType=VARCHAR},
            </if>
            <if test="physicalNumber != null">
                #{physicalNumber,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.product.ProductProductPhysicalRef">
        update product_product_physical_ref
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="productPhysicalId != null">
                product_physical_id = #{productPhysicalId,jdbcType=INTEGER},
            </if>
            <if test="physicalName != null">
                physical_name = #{physicalName,jdbcType=VARCHAR},
            </if>
            <if test="physicalNumber != null">
                physical_number = #{physicalNumber,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.product.ProductProductPhysicalRef" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_product_physical_ref
        where is_enabled = true
        <if test="productId != null">
            AND product_id = #{productId,jdbcType=INTEGER}
        </if>
        <if test="productPhysicalId != null">
            AND product_physical_id = #{productPhysicalId,jdbcType=INTEGER}
        </if>
        <if test="physicalName != null">
            AND physical_name = #{physicalName,jdbcType=VARCHAR}
        </if>
        <if test="physicalNumber != null">
            AND physical_number = #{physicalNumber,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <delete id="deleteByProductId" parameterType="java.lang.Integer">
        delete from product_store_ref
        where product_id = #{productId}
    </delete>

    <insert id="addBatch" parameterType="com.union.aimei.common.vo.product.app.ProductProductPhysicalRefByBatchVo" useGeneratedKeys="true">
        insert into product_store_ref (product_id, product_physical_id, physical_name, physical_number)
        values
        <foreach collection="productProductPhysicalRefList" item="item" index="index" separator=",">
            (#{item.productId}, #{item.productPhysicalId}, #{item.physicalName}, #{item.physicalNumber})
        </foreach>
    </insert>

    <select id="selectListByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_product_physical_ref
        where is_enabled = true
        and product_id = #{productId}
    </select>

    <select id="selectListByProductIdForOrder" parameterType="java.lang.Integer" resultType="com.union.aimei.common.vo.product.app.ProductProductPhysicalRefByProductIdReturnVo">
        select
        p.id AS productPhysicalId, p.physical_name AS physicalName, p.physical_code AS physicalCode, p.cover_img AS coverImg,
        p.sale_price AS salePrice, p.unit, pppr.physical_number AS physicalNumber
        from product_physical p, product_product_physical_ref pppr
        where p.id = pppr.product_physical_id
        and p.is_enabled = true
        and pppr.is_enabled = true
        and pppr.product_id = #{productId}
    </select>

    <select id="getByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_product_physical_ref
        where is_enabled = true
        and product_id = #{productId}
        limit 1
    </select>

</mapper>