<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.member.mapper.MemberCardTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.union.aimei.common.model.member.MemberCardTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_group_id" property="parentGroupId" jdbcType="INTEGER" />
    <result column="parent_group_name" property="parentGroupName" jdbcType="VARCHAR" />
    <result column="parent_group_count" property="parentGroupCount" jdbcType="INTEGER" />
    <result column="bg_img_url" property="bgImgUrl" jdbcType="VARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, parent_group_id, parent_group_name, parent_group_count, bg_img_url, is_enabled, create_time, update_time
  </sql>

  <sql id="BaseAliasColumn" >
    id, parent_group_id AS parentGroupId, parent_group_name AS parentGroupName,
    parent_group_count AS parentGroupCount,bg_img_url AS bgImgUrl,
    is_enabled AS isEnabled, create_time AS createTime, update_time AS updateTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_card_template
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_card_template
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.union.aimei.common.model.member.MemberCardTemplate" useGeneratedKeys="true" keyProperty="id" >
    insert into member_card_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentGroupId != null" >
        parent_group_id,
      </if>
      <if test="parentGroupName != null" >
        parent_group_name,
      </if>
      <if test="parentGroupCount != null" >
        parent_group_count,
      </if>
      <if test="bgImgUrl != null" >
        bg_img_url,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentGroupId != null" >
        #{parentGroupId,jdbcType=INTEGER},
      </if>
      <if test="parentGroupName != null" >
        #{parentGroupName,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupCount != null" >
        #{parentGroupCount,jdbcType=INTEGER},
      </if>
      <if test="bgImgUrl != null" >
        #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.member.MemberCardTemplate" >
    update member_card_template
    <set >
      <if test="parentGroupId != null" >
        parent_group_id = #{parentGroupId,jdbcType=INTEGER},
      </if>
      <if test="parentGroupName != null" >
        parent_group_name = #{parentGroupName,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupCount != null" >
        parent_group_count = #{parentGroupCount,jdbcType=INTEGER},
      </if>
      <if test="bgImgUrl != null" >
        bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByConditions" parameterType="com.union.aimei.common.model.member.MemberCardTemplate" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from member_card_template
    <where >
      <if test="parentGroupId != null" >
        AND parent_group_id = #{parentGroupId,jdbcType=INTEGER}
      </if>
      <if test="parentGroupName != null" >
        AND parent_group_name = #{parentGroupName,jdbcType=VARCHAR}
      </if>
      <if test="parentGroupCount != null" >
        AND parent_group_count = #{parentGroupCount,jdbcType=INTEGER}
      </if>
      <if test="bgImgUrl != null" >
        AND bg_img_url = #{bgImgUrl,jdbcType=VARCHAR}
      </if>
      <if test="isEnabled != null" >
        AND is_enabled = #{isEnabled,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by create_time desc
  </select>

  <insert id="insertByBatch" parameterType="java.util.List">
    insert into member_card_template (parent_group_id,bg_img_url)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.parentGroupId,jdbcType=INTEGER}, #{item.bgImgUrl,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="deleteByGroupId" parameterType="java.lang.Integer">
      delete from member_card_template
      where parent_group_id = #{id,jdbcType=INTEGER}
  </delete>

</mapper>