<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.pc.system.mapper.BaseHomeFloorListMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.system.BaseHomeFloorList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="floor_id" property="floorId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="product_type" property="productType" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, floor_id, product_id, product_type, sort, is_enabled, create_time, update_time
    </sql>

    <sql id="BaseAliasColumn">
        id, floor_id AS floorId, product_id AS productId, product_type AS productType, sort,
        is_enabled AS isEnabled, create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from base_home_floor_list
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from base_home_floor_list
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.system.BaseHomeFloorList"
            useGeneratedKeys="true" keyProperty="id">
        insert into base_home_floor_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="floorId != null">
                floor_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="floorId != null">
                #{floorId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=TINYINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.system.BaseHomeFloorList">
        update base_home_floor_list
        <set>
            <if test="floorId != null">
                floor_id = #{floorId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=TINYINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByFloorId" parameterType="com.union.aimei.common.model.system.BaseHomeFloorList">
        update base_home_floor_list
        <set>
            <if test="floorId != null">
                floor_id = #{floorId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=TINYINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where floorId = #{floorId,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.system.BaseHomeFloorList"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_home_floor_list
        <where>
            <if test="floorId != null">
                AND floor_id = #{floorId,jdbcType=INTEGER}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="productType != null">
                AND product_type = #{productType,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY sort
    </select>

    <select id="findByVoPageForFront" parameterType="com.union.aimei.common.model.system.BaseHomeFloorList"
            resultType="com.union.aimei.common.vo.system.pc.BaseHomeFloorListVo">
        select
        <include refid="BaseAliasColumn"/>
        from base_home_floor_list
        <where>
            <if test="floorId != null">
                AND floor_id = #{floorId,jdbcType=INTEGER}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="productType != null">
                AND product_type = #{productType,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY sort desc
    </select>

    <insert id="addBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into base_home_floor_list (floor_id, product_id, product_type, sort)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.floorId}, #{item.productId}, #{item.productType}, #{item.sort})
        </foreach>
    </insert>

    <select id="findProductIdListByFront" parameterType="com.union.aimei.common.vo.system.pc.BaseHomeFloorListVo"
            resultType="int">
        select
        product_id
        from base_home_floor_list
        <where>
            <if test="floorId != null">
                AND floor_id = #{floorId,jdbcType=INTEGER}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="productType != null">
                AND product_type = #{productType,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY sort
    </select>

    <select id="findByVoPageForBaseHomeFloorListVo"
            parameterType="com.union.aimei.common.vo.system.pc.BaseHomeFloorListVo"
            resultType="com.union.aimei.common.vo.system.pc.BaseHomeFloorListVo">
        select
        <include refid="BaseAliasColumn"/>
        from base_home_floor_list
        <where>
            <if test="floorId != null">
                AND floor_id = #{floorId,jdbcType=INTEGER}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="productType != null">
                AND product_type = #{productType,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="productIdList != null">
                AND product_id in
                <foreach item="item" index="index" collection="productIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY sort desc
    </select>

</mapper>