<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.union.aimei.pc.system.mapper.BaseMenuMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.system.BaseMenu">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="menu_type" jdbcType="VARCHAR" property="menuType"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="sort_no" jdbcType="INTEGER" property="sortNo"/>
        <result column="menu_logo" jdbcType="VARCHAR" property="menuLogo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        menu_id, parent_id, menu_type, menu_name, menu_code, menu_url, sort_no, menu_logo,
        create_time, update_time
    </sql>
    <select id="selectByExample" parameterType="com.union.aimei.common.model.system.BaseMenuExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from base_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from base_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.union.aimei.common.model.system.BaseMenuExample">
        delete from base_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.union.aimei.common.model.system.BaseMenu">
        insert into base_menu (menu_id, parent_id, menu_type,
        menu_name, menu_code, menu_url,
        sort_no, menu_logo, create_time,
        update_time)
        values (#{menuId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{menuType,jdbcType=VARCHAR},
        #{menuName,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR},
        #{sortNo,jdbcType=INTEGER}, #{menuLogo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.union.aimei.common.model.system.BaseMenu">
        insert into base_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuCode != null">
                menu_code,
            </if>
            <if test="menuUrl != null">
                menu_url,
            </if>
            <if test="sortNo != null">
                sort_no,
            </if>
            <if test="menuLogo != null">
                menu_logo,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null">
                #{sortNo,jdbcType=INTEGER},
            </if>
            <if test="menuLogo != null">
                #{menuLogo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.union.aimei.common.model.system.BaseMenuExample"
            resultType="java.lang.Long">
        select count(*) from base_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update base_menu
        <set>
            <if test="record.menuId != null">
                menu_id = #{record.menuId,jdbcType=INTEGER},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.menuType != null">
                menu_type = #{record.menuType,jdbcType=VARCHAR},
            </if>
            <if test="record.menuName != null">
                menu_name = #{record.menuName,jdbcType=VARCHAR},
            </if>
            <if test="record.menuCode != null">
                menu_code = #{record.menuCode,jdbcType=VARCHAR},
            </if>
            <if test="record.menuUrl != null">
                menu_url = #{record.menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.sortNo != null">
                sort_no = #{record.sortNo,jdbcType=INTEGER},
            </if>
            <if test="record.menuLogo != null">
                menu_logo = #{record.menuLogo,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update base_menu
        set menu_id = #{record.menuId,jdbcType=INTEGER},
        parent_id = #{record.parentId,jdbcType=INTEGER},
        menu_type = #{record.menuType,jdbcType=VARCHAR},
        menu_name = #{record.menuName,jdbcType=VARCHAR},
        menu_code = #{record.menuCode,jdbcType=VARCHAR},
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
        sort_no = #{record.sortNo,jdbcType=INTEGER},
        menu_logo = #{record.menuLogo,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.system.BaseMenu">
        update base_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                menu_code = #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                menu_url = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null">
                sort_no = #{sortNo,jdbcType=INTEGER},
            </if>
            <if test="menuLogo != null">
                menu_logo = #{menuLogo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.union.aimei.common.model.system.BaseMenu">
        update base_menu
        set parent_id = #{parentId,jdbcType=INTEGER},
        menu_type = #{menuType,jdbcType=VARCHAR},
        menu_name = #{menuName,jdbcType=VARCHAR},
        menu_code = #{menuCode,jdbcType=VARCHAR},
        menu_url = #{menuUrl,jdbcType=VARCHAR},
        sort_no = #{sortNo,jdbcType=INTEGER},
        menu_logo = #{menuLogo,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
    <select id="selectByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM base_menu LIMIT #{offset},#{limit}
    </select>
    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.system.BaseMenu"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_menu
        <where>
            <if test="parentId != null">
                and parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="menuType != null">
                and menu_type = #{menuType,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null">
                and menu_name = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="menuCode != null">
                and menu_code = #{menuCode,jdbcType=VARCHAR}
            </if>
            <if test="menuUrl != null">
                and menu_url = #{menuUrl,jdbcType=VARCHAR}
            </if>
            <if test="sortNo != null">
                and sort_no = #{sortNo,jdbcType=INTEGER}
            </if>
            <if test="menuLogo != null">
                and menu_logo = #{menuLogo,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by sort_no
    </select>

    <select id="findLoginMenus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        bm.*
        FROM
        base_user bu
        LEFT JOIN base_user_role bur ON bu.user_id = bur.user_id
        LEFT JOIN base_role br ON bur.role_id = br.role_id
        LEFT JOIN base_role_resources brr ON br.role_id = brr.role_id
        LEFT JOIN base_menu bm ON brr.menu_id = bm.menu_id
        WHERE
        bm.menu_id IS NOT NULL
        <if test="userId != null">
            AND
            bu.user_id = #{userId,jdbcType=INTEGER}
        </if>

    </select>
</mapper>