<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.app.api.order.mapper.OrderCommentImgMapper" >
  <resultMap id="BaseResultMap" type="com.union.aimei.common.model.order.OrderCommentImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="comment_img_url" property="commentImgUrl" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, comment_id, comment_img_url, add_time, update_time
  </sql>

  <sql id="BaseAliasColumn" >
    id, comment_id AS commentId, comment_img_url AS commentImgUrl, add_time AS addTime, 
    update_time AS updateTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_comment_img
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_comment_img
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.union.aimei.common.model.order.OrderCommentImg" useGeneratedKeys="true" keyProperty="id" >
    insert into order_comment_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentImgUrl != null" >
        comment_img_url,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentImgUrl != null" >
        #{commentImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.order.OrderCommentImg" >
    update order_comment_img
    <set >
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentImgUrl != null" >
        comment_img_url = #{commentImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByConditions" parameterType="com.union.aimei.common.model.order.OrderCommentImg" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from order_comment_img
    <where >
      <if test="commentId != null" >
        AND comment_id = #{commentId,jdbcType=INTEGER}
      </if>
      <if test="commentImgUrl != null" >
        AND comment_img_url = #{commentImgUrl,jdbcType=VARCHAR}
      </if>
      <if test="addTime != null" >
        AND add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>



  <!--批量添加订单评论图片-->
    <insert id="insertCommentImgBatch" useGeneratedKeys="true" parameterType="list">
      insert into order_comment_img (comment_id,comment_img_url)
      values
      <foreach collection="list" item="item" index="index" separator="," >
        (#{item.commentId},#{item.commentImgUrl})
      </foreach>
    </insert>

   <!--通过订单评论ID查询评论图片-->
    <select id="queryOrderCommentImgList" parameterType="integer" resultType="string">
        SELECT comment_img_url AS  commentImgUrl FROM order_comment_img
        WHERE comment_id = #{commentId,jdbcType=INTEGER}
    </select>
</mapper>