<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.store.mapper.BeauticianFollowerMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.store.BeauticianFollower">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="beautician_id" property="beauticianId" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="INTEGER"/>
        <result column="is_follower" property="isFollower" jdbcType="BIT"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, beautician_id, member_id, is_follower, is_enabled, create_time, update_time
    </sql>

    <sql id="BaseAliasColumn">
        id, beautician_id AS beauticianId, member_id AS memberId, is_follower AS isFollower,
        is_enabled AS isEnabled, create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from beautician_follower
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from beautician_follower
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.store.BeauticianFollower" useGeneratedKeys="true" keyProperty="id">
        insert into beautician_follower
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                beautician_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="isFollower != null">
                is_follower,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="isFollower != null">
                #{isFollower,jdbcType=BIT},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.store.BeauticianFollower">
        update beautician_follower
        <set>
            <if test="beauticianId != null">
                beautician_id = #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="isFollower != null">
                is_follower = #{isFollower,jdbcType=BIT},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.store.BeauticianFollower" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from beautician_follower
        where is_enabled = true
        <if test="beauticianId != null">
            AND beautician_id = #{beauticianId,jdbcType=INTEGER}
        </if>
        <if test="memberId != null">
            AND member_id = #{memberId,jdbcType=INTEGER}
        </if>
        <if test="isFollower != null">
            AND is_follower = #{isFollower,jdbcType=BIT}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        order by create_time desc
    </select>

    <select id="isFollower" parameterType="java.util.Map" resultType="java.lang.Boolean">
        select
        ifnull(min(is_follower), false)
        from beautician_follower
        where is_enabled = true
        and beautician_id = #{beauticianId}
        and member_id = #{memberId}
    </select>

    <select id="getByRefId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from beautician_follower
        where is_enabled = true
        and beautician_id = #{beauticianId}
        and member_id = #{memberId}
        limit 1
    </select>

</mapper>