<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.store.mapper.BeauticianGrowthValueLogMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.store.BeauticianGrowthValueLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="beautician_id" property="beauticianId" jdbcType="INTEGER"/>
        <result column="growth_type" property="growthType" jdbcType="TINYINT"/>
        <result column="growth_ref_id" property="growthRefId" jdbcType="INTEGER"/>
        <result column="growth_name" property="growthName" jdbcType="VARCHAR"/>
        <result column="growth_value" property="growthValue" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, beautician_id, growth_type, growth_ref_id, growth_name, growth_value, is_enabled, 
    create_time, update_time
  </sql>

    <sql id="BaseAliasColumn">
    id, beautician_id AS beauticianId, growth_type AS growthType, growth_ref_id AS growthRefId, 
    growth_name AS growthName, growth_value AS growthValue, is_enabled AS isEnabled, 
    create_time AS createTime, update_time AS updateTime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from beautician_growth_value_log
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from beautician_growth_value_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.store.BeauticianGrowthValueLog" useGeneratedKeys="true" keyProperty="id">
        insert into beautician_growth_value_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                beautician_id,
            </if>
            <if test="growthType != null">
                growth_type,
            </if>
            <if test="growthRefId != null">
                growth_ref_id,
            </if>
            <if test="growthName != null">
                growth_name,
            </if>
            <if test="growthValue != null">
                growth_value,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="growthType != null">
                #{growthType,jdbcType=TINYINT},
            </if>
            <if test="growthRefId != null">
                #{growthRefId,jdbcType=INTEGER},
            </if>
            <if test="growthName != null">
                #{growthName,jdbcType=VARCHAR},
            </if>
            <if test="growthValue != null">
                #{growthValue,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.store.BeauticianGrowthValueLog">
        update beautician_growth_value_log
        <set>
            <if test="beauticianId != null">
                beautician_id = #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="growthType != null">
                growth_type = #{growthType,jdbcType=TINYINT},
            </if>
            <if test="growthRefId != null">
                growth_ref_id = #{growthRefId,jdbcType=INTEGER},
            </if>
            <if test="growthName != null">
                growth_name = #{growthName,jdbcType=VARCHAR},
            </if>
            <if test="growthValue != null">
                growth_value = #{growthValue,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.store.BeauticianGrowthValueLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from beautician_growth_value_log
        where is_enabled = true
        <if test="beauticianId != null">
            AND beautician_id = #{beauticianId,jdbcType=INTEGER}
        </if>
        <if test="growthType != null">
            AND growth_type = #{growthType,jdbcType=TINYINT}
        </if>
        <if test="growthRefId != null">
            AND growth_ref_id = #{growthRefId,jdbcType=INTEGER}
        </if>
        <if test="growthName != null">
            AND growth_name = #{growthName,jdbcType=VARCHAR}
        </if>
        <if test="growthValue != null">
            AND growth_value = #{growthValue,jdbcType=INTEGER}
        </if>

        <if test="createTime != null">
            AND create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>

</mapper>