<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.store.mapper.BeauticianServiceScopeMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.store.BeauticianServiceScope">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="beautician_id" property="beauticianId" jdbcType="INTEGER"/>
        <result column="scope_name" property="scopeName" jdbcType="VARCHAR"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="longitude" property="longitude" jdbcType="DECIMAL"/>
        <result column="latitude" property="latitude" jdbcType="DECIMAL"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="radius" property="radius" jdbcType="INTEGER"/>
        <result column="is_select" property="isSelect" jdbcType="BIT"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, beautician_id, scope_name, province_name, city_name, area_name, province_id, 
    city_id, area_id, longitude, latitude, address, radius, is_select, is_enabled, create_time, 
    update_time
  </sql>

    <sql id="BaseAliasColumn">
    id, beautician_id AS beauticianId, scope_name AS scopeName, province_name AS provinceName, 
    city_name AS cityName, area_name AS areaName, province_id AS provinceId, city_id AS cityId, 
    area_id AS areaId, longitude, latitude, address, radius, is_select AS isSelect, is_enabled AS isEnabled, 
    create_time AS createTime, update_time AS updateTime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from beautician_service_scope
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from beautician_service_scope
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.store.BeauticianServiceScope" useGeneratedKeys="true" keyProperty="id">
        insert into beautician_service_scope
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                beautician_id,
            </if>
            <if test="scopeName != null">
                scope_name,
            </if>
            <if test="provinceName != null">
                province_name,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="radius != null">
                radius,
            </if>
            <if test="isSelect != null">
                is_select,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="beauticianId != null">
                #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="scopeName != null">
                #{scopeName,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="radius != null">
                #{radius,jdbcType=INTEGER},
            </if>
            <if test="isSelect != null">
                #{isSelect,jdbcType=BIT},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.store.BeauticianServiceScope">
        update beautician_service_scope
        <set>
            <if test="beauticianId != null">
                beautician_id = #{beauticianId,jdbcType=INTEGER},
            </if>
            <if test="scopeName != null">
                scope_name = #{scopeName,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="radius != null">
                radius = #{radius,jdbcType=INTEGER},
            </if>
            <if test="isSelect != null">
                is_select = #{isSelect,jdbcType=BIT},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.store.BeauticianServiceScope" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from beautician_service_scope
        where is_enabled = true
        <if test="beauticianId != null">
            AND beautician_id = #{beauticianId,jdbcType=INTEGER}
        </if>
        <if test="scopeName != null">
            AND scope_name = #{scopeName,jdbcType=VARCHAR}
        </if>
        <if test="provinceName != null">
            AND province_name = #{provinceName,jdbcType=VARCHAR}
        </if>
        <if test="cityName != null">
            AND city_name = #{cityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null">
            AND area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="provinceId != null">
            AND province_id = #{provinceId,jdbcType=INTEGER}
        </if>
        <if test="cityId != null">
            AND city_id = #{cityId,jdbcType=INTEGER}
        </if>
        <if test="areaId != null">
            AND area_id = #{areaId,jdbcType=INTEGER}
        </if>
        <if test="longitude != null">
            AND longitude = #{longitude,jdbcType=DECIMAL}
        </if>
        <if test="latitude != null">
            AND latitude = #{latitude,jdbcType=DECIMAL}
        </if>
        <if test="address != null">
            AND address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="radius != null">
            AND radius = #{radius,jdbcType=INTEGER}
        </if>
        <if test="isSelect != null">
            AND is_select = #{isSelect,jdbcType=BIT}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <update id="cancelSelectByBeauticianId" parameterType="java.lang.Integer">
        update beautician_service_scope
        set is_select = false
        where beautician_id = #{beauticianId}
        and is_select = true
    </update>

</mapper>