<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.store.mapper.StoreChainBrandMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.store.StoreChainBrand">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="brand_logo" property="brandLogo" jdbcType="VARCHAR"/>
        <result column="brand_ownership_company" property="brandOwnershipCompany" jdbcType="VARCHAR"/>
        <result column="store_total" property="storeTotal" jdbcType="INTEGER"/>
        <result column="product_total" property="productTotal" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, brand_name, brand_logo, brand_ownership_company, store_total, product_total, 
    remark, is_enabled, create_time, update_time
  </sql>

    <sql id="BaseAliasColumn">
    id, brand_name AS brandName, brand_logo AS brandLogo, brand_ownership_company AS brandOwnershipCompany, 
    store_total AS storeTotal, product_total AS productTotal, remark, is_enabled AS isEnabled, 
    create_time AS createTime, update_time AS updateTime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from store_chain_brand
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store_chain_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.store.StoreChainBrand" useGeneratedKeys="true" keyProperty="id">
        insert into store_chain_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="brandLogo != null">
                brand_logo,
            </if>
            <if test="brandOwnershipCompany != null">
                brand_ownership_company,
            </if>
            <if test="storeTotal != null">
                store_total,
            </if>
            <if test="productTotal != null">
                product_total,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandLogo != null">
                #{brandLogo,jdbcType=VARCHAR},
            </if>
            <if test="brandOwnershipCompany != null">
                #{brandOwnershipCompany,jdbcType=VARCHAR},
            </if>
            <if test="storeTotal != null">
                #{storeTotal,jdbcType=INTEGER},
            </if>
            <if test="productTotal != null">
                #{productTotal,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.store.StoreChainBrand">
        update store_chain_brand
        <set>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandLogo != null">
                brand_logo = #{brandLogo,jdbcType=VARCHAR},
            </if>
            <if test="brandOwnershipCompany != null">
                brand_ownership_company = #{brandOwnershipCompany,jdbcType=VARCHAR},
            </if>
            <if test="storeTotal != null">
                store_total = #{storeTotal,jdbcType=INTEGER},
            </if>
            <if test="productTotal != null">
                product_total = #{productTotal,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.store.StoreChainBrand" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store_chain_brand
        <where>
            <if test="brandName != null">
                AND brand_name = #{brandName,jdbcType=VARCHAR}
            </if>
            <if test="brandLogo != null">
                AND brand_logo = #{brandLogo,jdbcType=VARCHAR}
            </if>
            <if test="brandOwnershipCompany != null">
                AND brand_ownership_company = #{brandOwnershipCompany,jdbcType=VARCHAR}
            </if>
            <if test="storeTotal != null">
                AND store_total = #{storeTotal,jdbcType=INTEGER}
            </if>
            <if test="productTotal != null">
                AND product_total = #{productTotal,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                AND remark = #{remark,jdbcType=LONGVARCHAR}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <update id="updateByAddStoreTotalByByStoreId" parameterType="java.lang.Integer">
        update store_chain_brand
        <set>
            store_total = store_total + 1,
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateBySubtractStoreTotalByByStoreId" parameterType="java.lang.Integer">
        update store_chain_brand
        <set>
            store_total = store_total - 1,
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store_chain_brand
        where is_enabled = true
        order by create_time
    </select>

</mapper>