<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.im.mapper.ImChatGroupsUsersMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.im.ImChatGroupsUsers">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, group_id, user_name
    </sql>

    <sql id="BaseAliasColumn">
        id, group_id AS groupId, user_name AS userName
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from im_chat_groups_users
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from im_chat_groups_users
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.im.ImChatGroupsUsers" useGeneratedKeys="true"
            keyProperty="id">
        insert into im_chat_groups_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                group_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.im.ImChatGroupsUsers">
        update im_chat_groups_users
        <set>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.im.ImChatGroupsUsers"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from im_chat_groups_users
        <where>
            <if test="groupId != null">
                AND group_id = #{groupId,jdbcType=INTEGER}
            </if>
            <if test="userName != null">
                AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>