<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.pc.product.mapper.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="com.union.aimei.common.model.product.ProductCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="category_logo" property="categoryLogo" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, category_code, category_logo, category_name, pid, is_enabled,
        create_time, update_time
    </sql>

    <sql id="BaseAliasColumn">
        id, category_code AS categoryCode, category_logo AS categoryLogo,
        category_name AS categoryName, pid AS pid, is_enabled AS isEnabled,
        create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from product_category
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product_category
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.union.aimei.common.model.product.ProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">
                category_code,
            </if>
            <if test="categoryLogo != null">
                category_logo,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="isEnabled != null">
                is_enabled,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">
                #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="categoryLogo != null">
                #{categoryLogo,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.product.ProductCategory">
        update product_category
        <set>
            <if test="categoryCode != null">
                category_code = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="categoryLogo != null">
                category_logo = #{categoryLogo,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListByConditions" parameterType="com.union.aimei.common.model.product.ProductCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_category
        <where>
            <if test="categoryCode != null">
                AND category_code = #{categoryCode,jdbcType=VARCHAR}
            </if>
            <if test="categoryLogo != null">
                AND category_logo = #{categoryLogo,jdbcType=VARCHAR}
            </if>
            <if test="categoryName != null">
                AND category_name = #{categoryName,jdbcType=VARCHAR}
            </if>
            <if test="pid != null">
                AND pid = #{pid,jdbcType=INTEGER}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled,jdbcType=BIT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="selectListByIdBatch" parameterType="com.union.aimei.common.vo.common.IdBatchVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_category
        where is_enabled = true
        and id in
        <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>