<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.learn.mapper.LearnImgMapper" >
  <resultMap id="BaseResultMap" type="com.union.aimei.common.model.learn.LearnImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_type" property="sourceType" jdbcType="INTEGER" />
    <result column="source_id" property="sourceId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="main_status" property="mainStatus" jdbcType="TINYINT" />
    <result column="broadcast_status" property="broadcastStatus" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, source_type, source_id, img_url, main_status, broadcast_status, sort, create_time, 
    update_time
  </sql>

  <sql id="BaseAliasColumn" >
    id, source_type AS sourceType, source_id AS sourceId, img_url AS imgUrl, main_status AS mainStatus, 
    broadcast_status AS broadcastStatus, sort, create_time AS createTime, update_time AS updateTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from learn_img
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from learn_img
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPrimaryKeyList" parameterType="java.util.List">
    delete from learn_img
    where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <delete id="deleteBySourceId" parameterType="integer">
    DELETE FROM learn_img WHERE source_id = #{sourceId,jdbcType=INTEGER} and source_type = 0
  </delete>

  <delete id="deleteBySourceIdAndSourceType" parameterType="hashmap">
    DELETE FROM learn_img WHERE source_id = #{sourceId,jdbcType=INTEGER} and source_type =  #{sourceType,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.union.aimei.common.model.learn.LearnImg" useGeneratedKeys="true" keyProperty="id" >
    insert into learn_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="mainStatus != null" >
        main_status,
      </if>
      <if test="broadcastStatus != null" >
        broadcast_status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sourceType != null" >
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="mainStatus != null" >
        #{mainStatus,jdbcType=TINYINT},
      </if>
      <if test="broadcastStatus != null" >
        #{broadcastStatus,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.learn.LearnImg" >
    update learn_img
    <set >
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="mainStatus != null" >
        main_status = #{mainStatus,jdbcType=TINYINT},
      </if>
      <if test="broadcastStatus != null" >
        broadcast_status = #{broadcastStatus,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByConditions" parameterType="com.union.aimei.common.model.learn.LearnImg" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from learn_img
    <where >
      <if test="sourceType != null" >
        AND source_type = #{sourceType,jdbcType=INTEGER}
      </if>
      <if test="sourceId != null" >
        AND source_id = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="imgUrl != null" >
        AND img_url = #{imgUrl,jdbcType=VARCHAR}
      </if>
      <if test="mainStatus != null" >
        AND main_status = #{mainStatus,jdbcType=TINYINT}
      </if>
      <if test="broadcastStatus != null" >
        AND broadcast_status = #{broadcastStatus,jdbcType=TINYINT}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <choose >
      <when test="mainStatus != null" >
        ORDER BY main_status desc , create_time DESC
      </when>
      <when test="sort != null" >
        ORDER BY sort
      </when>
      <otherwise >
        ORDER BY create_time DESC
      </otherwise>
    </choose>
  </select>


  <select id="queryImgListByLearnImg" parameterType="com.union.aimei.common.model.learn.LearnImg" resultType="java.lang.String">
      SELECT img_url FROM learn_img
    <where >
      <if test="sourceType != null" >
        AND source_type = #{sourceType,jdbcType=INTEGER}
      </if>
      <if test="sourceId != null" >
        AND source_id = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="imgUrl != null" >
        AND img_url = #{imgUrl,jdbcType=VARCHAR}
      </if>
      <if test="mainStatus != null" >
        AND main_status = #{mainStatus,jdbcType=TINYINT}
      </if>
      <if test="broadcastStatus != null" >
        AND broadcast_status = #{broadcastStatus,jdbcType=TINYINT}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="selectImgByConditions" parameterType="com.union.aimei.common.vo.learn.pc.LearnImgParamVo" resultType="com.union.aimei.common.model.learn.LearnImg" >
    select <include refid="BaseAliasColumn"/> from learn_img
    <where >
      <if test="sourceType != null" >
        AND source_type = #{sourceType,jdbcType=INTEGER}
      </if>
      <if test="sourceId != null" >
        AND source_id = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="imgUrl != null" >
        AND img_url = #{imgUrl,jdbcType=VARCHAR}
      </if>
      <if test="mainStatus != null" >
        AND main_status = #{mainStatus,jdbcType=TINYINT}
      </if>
      <if test="broadcastStatus != null" >
        AND broadcast_status = #{broadcastStatus,jdbcType=TINYINT}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <choose >
      <when test="mainStatusSort != null" >
        <choose>
          <when test="mainStatusSort == 1">
            ORDER BY main_status desc , create_time DESC
          </when>
        </choose>
      </when>
      <when test="sort != null" >
        ORDER BY sort
      </when>
      <otherwise >
        ORDER BY create_time DESC
      </otherwise>
    </choose>
  </select>

  <select id="findUrlListByLearnImg" parameterType="com.union.aimei.common.model.learn.LearnImg" resultType="java.lang.String">
    SELECT img_url from learn_img
    <where >
      <if test="sourceType != null" >
        AND source_type = #{sourceType,jdbcType=INTEGER}
      </if>
      <if test="sourceId != null" >
        AND source_id = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="imgUrl != null" >
        AND img_url = #{imgUrl,jdbcType=VARCHAR}
      </if>
      <if test="mainStatus != null" >
        AND main_status = #{mainStatus,jdbcType=TINYINT}
      </if>
      <if test="broadcastStatus != null" >
        AND broadcast_status = #{broadcastStatus,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <insert id="insertBatch" parameterType="hashmap">
    insert into learn_img(source_type,source_id,img_url,main_status)
    values
    <foreach collection="imgUrlList" index="index" item="item"  separator="," >
      (#{sourceType,jdbcType=INTEGER},#{sourceId,jdbcType=INTEGER},#{item,jdbcType=VARCHAR},
        <choose>
            <when test="index == 0">1</when>
            <when test="index > 0">0</when>
        </choose>
      )
    </foreach>
  </insert>


  <insert id="addBatch" parameterType="java.util.List" useGeneratedKeys="true">

    insert into learn_img (source_type,source_id,img_url,sort,main_status,broadcast_status)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.sourceType} , #{item.sourceId} , #{item.imgUrl} , #{item.sort} , #{item.mainStatus} , #{item.broadcastStatus} )
    </foreach>
  </insert>


</mapper>