<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.aimei.pc.store.mapper.StoreScheduleBeauticianRefMapper" >
  <resultMap id="BaseResultMap" type="com.union.aimei.common.model.store.StoreScheduleBeauticianRef" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_schedule_id" property="storeScheduleId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="beautician_id" property="beauticianId" jdbcType="INTEGER" />
    <result column="beautician_name" property="beauticianName" jdbcType="VARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, store_schedule_id, store_id, store_name, beautician_id, beautician_name, is_enabled, 
    create_time, update_time
  </sql>

  <sql id="BaseAliasColumn" >
    id, store_schedule_id AS storeScheduleId, store_id AS storeId, store_name AS storeName, 
    beautician_id AS beauticianId, beautician_name AS beauticianName, is_enabled AS isEnabled, 
    create_time AS createTime, update_time AS updateTime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store_schedule_beautician_ref
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_schedule_beautician_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.union.aimei.common.model.store.StoreScheduleBeauticianRef" useGeneratedKeys="true" keyProperty="id" >
    insert into store_schedule_beautician_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeScheduleId != null" >
        store_schedule_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="beauticianId != null" >
        beautician_id,
      </if>
      <if test="beauticianName != null" >
        beautician_name,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeScheduleId != null" >
        #{storeScheduleId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="beauticianId != null" >
        #{beauticianId,jdbcType=INTEGER},
      </if>
      <if test="beauticianName != null" >
        #{beauticianName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.union.aimei.common.model.store.StoreScheduleBeauticianRef" >
    update store_schedule_beautician_ref
    <set >
      <if test="storeScheduleId != null" >
        store_schedule_id = #{storeScheduleId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="beauticianId != null" >
        beautician_id = #{beauticianId,jdbcType=INTEGER},
      </if>
      <if test="beauticianName != null" >
        beautician_name = #{beauticianName,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByConditions" parameterType="com.union.aimei.common.model.store.StoreScheduleBeauticianRef" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/> from store_schedule_beautician_ref
    <where >
      <if test="storeScheduleId != null" >
        AND store_schedule_id = #{storeScheduleId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null" >
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="storeName != null" >
        AND store_name = #{storeName,jdbcType=VARCHAR}
      </if>
      <if test="beauticianId != null" >
        AND beautician_id = #{beauticianId,jdbcType=INTEGER}
      </if>
      <if test="beauticianName != null" >
        AND beautician_name = #{beauticianName,jdbcType=VARCHAR}
      </if>
      <if test="isEnabled != null" >
        AND is_enabled = #{isEnabled,jdbcType=BIT}
      </if>
      <if test="createTime != null" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

</mapper>